<h1 class="text-center mt-5">Nuevo Proyecto</h1>


<form method="get" action="/pages/create" id="create_form" class="mb-5 mt-3">

  <div class="form-group">
    <label for="name">Name</label>
    <input name="name" type="text" class="form-control" id="title-form">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" type="text" class="form-control" id="content-form"></textarea>
  </div>

  <div class="row form-group">
    <div class="col">
      <label for="start_date">Start Date</label>
      <input name="start_date" type="date" class="form-control" id="image-form">  
    </div>

    <div class="col">
      <label for="end_date">Due Date</label>
      <input name="end_date" type="date" class="form-control" id="image-form">
    </div>
  </div>
  
  <div class="form-group">
    <label for="state">State</label>
    <select name="state" class="form-control" id="state" >
      <option value="Propuesta">Propuesta</option>
      <option value="En progreso">En progreso</option>
      <option value="Terminado">Terminado</option>
    </select>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-secondary bg-light text-danger mb-5">Submit </button>
  </div>

</form>